NEXT_PUBLIC_SUPABASE_URL=YOUR_SUPABASE_URL
NEXT_PUBLIC_SUPABASE_ANON_KEY=YOUR_SUPABASE_ANON_KEY
SUPABASE_SERVICE_ROLE_KEY=YOUR_SERVICE_ROLE_KEY
GITHUB_WEBHOOK_SECRET=YOUR_WEBHOOK_SECRET
GITHUB_TOKEN=YOUR_GITHUB_TOKEN
